{% extends 'root.html' %}
{% load formutils %}

{% block body %}
    <div class="flex items-center justify-between p-8">
        <h1 class="text-3xl font-bold text-slate-700"><a href='/'>The Site</a></h1>
        <div>
            <a class="{{ ''|append_class:'link' }}" href='{%  url 'logout' %}' title="{{ user.username }}">Logout</a>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="container mx-auto max-w-screen-lg">
            {% block content %} {% endblock %}
        </div>
    </div>
{% endblock %}
