{% extends 'base.html' %}
{% load widget_tweaks %}
{% load formutils %}

{% block content %}
    <div class="flex items-center justify-between mb-4 border-b py-2">
        <h1 class="text-3xl">New community</h1>
    </div>


    <form method="post">
        {% csrf_token %}

        <div class="mb-8">
            <label class="block" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {%  with actual_class=''|append_class:'text' %}{% render_field form.name class=actual_class %}{% endwith %}
        </div>

        <input class="hover:bg-red-500 text-white px-4 p-2 bg-black rounded-md" type="submit" value="Create">
    </form>

{% endblock %}