{% extends 'moderation/bucket_sub_list.html' %}
{% load formutils %}


{% block subbuttons %}
{%  endblock %}

{% block sub %}
    <div class="p-4 shadow">


        <h2>People in community</h2>
        Community members: {{  community_members }}

{#        {%  if object_list|length > 0 %}#}
{#            <div class="grid grid-cols-4 gap-4 bg-white">#}
{#                <!-- Header -->#}
{#                <div class="font-semibold text-gray-700 py-2">Started at</div>#}
{#                <div class="font-semibold text-gray-700 py-2">Files</div>#}
{#                <div class="font-semibold text-gray-700 py-2">Status</div>#}
{#                <div class="font-semibold text-gray-700 py-2">Error</div>#}
{##}
{#                {% for task in object_list %}#}
{#                    <!-- Rows -->#}
{#                    <div class="text-gray-900 py-3 border-t">{{ task.started_at }}</div>#}
{#                    <div class="text-gray-600 py-3 border-t">{{ task.text }}</div>#}
{#                    <div class="text-gray-600 py-3 border-t">{{ task.status }}</div>#}
{#                    <div class="text-gray-600 py-3 border-t">{{ task.error }}</div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="text-center">No pending tasks</div>#}
{#        {% endif %}#}

    </div>

{% endblock %}
